HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

##SQLite
#DATABASE_CLIENT=sqlite
#DATABASE_FILENAME=tobemodified
#DATABASE_SSL=false

#Postgres
DATABASE_CLIENT=postgres
DATABASE_HOST=dpg-cugrjbi3esus73fgbutg-a.singapore-postgres.render.com
DATABASE_PORT=5432
DATABASE_NAME=pimladda
DATABASE_USERNAME=pimladda
DATABASE_PASSWORD=01IPQaD11qZg0kkHZ8Q5x8GKgZRgY6WI
DATABASE_SSL=true
